@font-face {
    font-family: volkhov;
    src: url(../../Static/Volkhov-Regular.ttf);
}

h1{
    font-family: volkhov;
}

.home{
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.6rem;
    padding-top: 7rem;
    color:var(--text-primary);
    background-color: var(--part1-background);
}