@font-face {
    font-family: poppines;
    src: url(../../Static/Poppins-Regular.ttf);
}

:root{
    --part2-background:#ffffff;
    --background-color: white;
    --part1-background:rgb(239, 232, 245);
    --text-primary:#404258;
    --border-color:#c0c0c2;
    --hover-bg-color:#e5e5ec;
    --text-secondary:#4676d3;
    --text-black-white:#000000;
    --text-secondary:#4676d3;
    --button-background:#8774e15e;
    --secondary-background-color:#ffffff;
    --box-shadow:rgb(143 140 140 / 70%);
    --black-text:black;
    --contrast:0%;
}

[data-theme = 'dark']{
    --part2-background:#292830;
    --part1-background:#373e4e;
    --background-color: #181818;
    --black-text:rgb(133, 132, 132);
    --text-primary: #F9F7F7;
    --text-black-white:#ffffff;
    --border-color: #ffffff;
    --hover-bg-color:#1c508d;
    --text-secondary:#47c7a9;
    --button-background:#8774e15e;
    --text-secondary-light:#8774e1;
    --text-secondary-dark:#6a52da;
    --box-shadow:rgb(143 140 140 / 0%);
    --icon-color:#47c7a9;
    --contrast:500%;
}

p{
    margin: 0;
}

.header{
        position: absolute;
        left: 0;
        right: 0;
        display:flex;
        align-items: center;
        box-shadow: 0px 1px 3px var(--box-shadow);
        /* box-shadow: 0px 2px 3px rgb(207 207 207 / 67%); */
        /* box-shadow: 0 0 15px rgba(200, 200, 200, 0.6); 
        -moz-box-shadow: 0 0 15px rgba(200, 200, 200, 0.6); 
        -webkit-box-shadow: 0 0 15px rgba(200, 200, 200, 0.6); */
        border-color: var(--border-color);
        box-sizing:border-box;
        padding:0.8rem;
        border: 1px solid #ffffff00;
        background-color:var(--background-color);
        color:var(--text-primary);
        /* transition: all 0.6s ease-out; */
}

.app-name{
    font-size: 1.7rem;
    font-weight: 600;
    width: auto;
    min-width: 11rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: poppines, sans-serif;
}

.app-name>p{
    margin-left: 8px;
}

.avatar{
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 8rem;
    font-size: 1.6rem;
}

.login{
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem;
    min-width: auto;
    cursor: pointer;
    transition: color 0.3s ease-out;
    margin: 3.1px 0;
}

.login:hover{
    color:var(--text-secondary);
}

.login>p{
    padding-left: 0.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    min-width: auto;
}

.options>ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    margin: 0;
}

.options>ul>li{
    font-family: poppines, sans-serif;
    margin: 0 0.6rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease-out;
}

.options>ul>li:hover{
    background-color: var(--part1-background);
}

.expandMenu1{
    border-radius: 0.6rem;
    box-shadow: 0px 1px 3px rgb(143 140 140 / 70%);
    box-sizing: border-box;
    position: absolute;
    padding: 1rem 0;
    left: 1rem;
    top: 5rem;
    min-width: 10rem;
    background-color: white;
}

.expandMenu1>.content{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-width: 8rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: poppines, sans-serif;
}

.expandMenu1>.content>p{
    color: #404258;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    padding:0.3rem 1rem;
    width: 100%;
}

.expandMenu1>.content>p:hover{
    background-color: #e5e5ec;
}

.expandMenu{
    border-radius: 0.6rem;
    box-shadow: 0px 1px 3px rgb(143 140 140 / 70%);
    box-sizing: border-box;
    position: absolute;
    padding-top: 1rem;
    right: 1rem;
    top: 5rem;
    background-color: white;
}

.expandMenu>.content{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-width: 8rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: poppines, sans-serif;
}

.expandMenu>.content>p{
    color: #404258;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    padding:0.3rem 1rem;
    width: 100%;
}

.expandMenu>.content>p:hover{
    background-color: #e5e5ec;
}

.line{
    border-bottom: 1.5px solid var(--border-color);
    box-sizing: border-box;
}

.theme{
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: 0 1.6rem 0 1rem;
    color: var(--text-primary);
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transition: background-color 0.3s ease-out;
}

.theme>p{
    padding-right: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.arrowIcon{
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media screen and (min-width:440px){
    .arrowIconOut>.arrowIcon{
        display: none;
    }
    .options{
        display: block;
    }
}

@media screen and (max-width:439px){
    .arrowIconOut>.arrowIcon{
        display: flex;
    }
    .options{
        display: none;
    }
}
