.login{
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.6rem;
    padding-top: 7rem;
    color: var(--text-black-white);
    font-family: poppines, sans-serif;
    background-color: var(--part1-background);
}

.outerBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 33rem;
    min-width: 30rem;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7rem;
    box-shadow: 0 1px 2px var(--box-shadow);
    overflow: hidden;
}

.formdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 0.8rem;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.icon{
    background-color: var(--button-background);
    color: var(--text-secondary);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2rem 0;
}

.username{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.pass{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}

.username>input{
    position: relative;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-family: poppines, sans-serif;
    padding: 0.85rem;
    border-radius: 5px;
    border: none;
    color: rgb(113, 113, 113);
    font-size: 1.4rem;
    background-color: var(--part1-background);
}

.pass>input{
    position: relative;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-family: poppines, sans-serif;
    padding: 0.85rem;
    border-radius: 5px;
    border: none;
    color: rgb(113, 113, 113);
    font-size: 1.4rem;
    background-color: var(--part1-background);
}

input[type ='checkbox']{
    cursor: pointer;
    accent-color: var(--text-secondary);
    width: 16px;
    height: 16px;
}

.remember{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.remember span{
    font-size: 1.4rem;
    box-sizing: border-box;
    padding-left: 1rem;
}

button{
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0.15rem 1.6rem;
    min-width: auto;
    cursor: pointer;
    transition: color 0.3s ease-out;
    margin-top: 2rem;
    font-family: 'poppines';
    background-color: transparent;
    cursor: pointer;
    color: var(--text-black-white);
}

button:hover{
    color:var(--text-secondary);
}

.line{
    width: 100%;
    border-bottom: 2px solid;
    border-color: var(--part1-background);
    box-sizing: border-box;
}

.register{
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: start;
    display: flex;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    columns: var(--text-black-white);
}

.register>p{
    padding-right: 0.5rem;
}

.register>span{
    cursor: pointer;
    text-decoration: underline;
}

.register>span:hover{
    color: var(--text-secondary);
}

.info{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.3rem;
    min-width: 30rem;
    width: 50%;
    max-width: 30rem;
    background-color: var(--text-secondary);
    border-radius: 1rem;
    padding: 2rem 1.6rem;
    padding-bottom: 3rem;
    text-align: left;
    clip-path: circle(9% at 90% 80%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: var(--text-secondary);
}

.info>span{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    position: absolute;
    bottom: 1.4rem;
    right: 3.1rem;
    transition: color 0.5s;
    color: white;
}

.info:hover span{
    color: var(--text-secondary);
}

.info:hover{
    clip-path: circle(75%);
    color: white;
}

@media screen and (max-width:400px){
    .outerBox{
        width: 100%;
        max-width: 30rem;
        min-width: 26rem;
    }

    .formdiv{
        padding: 1rem;
        row-gap: 0;
    }

    .register{
        padding: 1.3rem 1rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-height:600px) and (max-width:450px){
    .info{
        top: 7rem;
        left: 0.5rem;
        right: auto;
        bottom: auto;
        clip-path: circle(9% at 9% 18%);
        min-width: 22rem;
    }

    .info>span{
        bottom: auto;
        right: auto;
        top: 1.8rem;
        left: 2rem;
    }
}
